@page "/help/general"

<div>
    <h3>
        Wanneer de toetsen van het toetsenbord niet werken: 
    </h3>
    <p>
            1. Check of uw toetsenbord niet op capslock staat. 
    </p>
    <p>
            2. Check of u gefocust bent op het digitale keyboard. Dit doet u door of met de muis op het keyboard te klikken, of door op tab te drukken tot het keyboard is gehighlight. 
    </p>
</div>
