@page "/help/how-to-play"
<p>
    Je kan de piano op drie manieren bespelen. Je kan met de muis op toetsen drukken, met de toetsen van je toetsenbord en met een aangesloten MIDI keyboard. 
    De tonen blijven spelen zolang de toets ingedrukt blijft. Elke toets van de piano is gekoppeld aan een toets op je toetsenbord. Om het realistisch te maken 
    voor het oefenen op een piano, liggen de zwarte toetsen in de rij boven de witte toetsen.

</p>
<p>
    Voorbeeld:
    Je wilt C3, E3 en C#3 spelen. De gekoppelde toetsen zijn E, T en 4, omdat je bij een piano ook voor de zwarte toets iets omhoog zou moeten rijken.
    Als je hier meer mee wilt oefenen dan kan dat. Links boven de piano staat een knop met de keymode. Als je hierop klikt veranderd deze. Er zijn drie 
    verschillende keymode opties. De eerste laat de gekoppelde key van je keyboard zien op de piano toets, de tweede laat de piano note zien en de laatste
    optie zijn blanke toetsen. 
</p>

<img src="../images/t.png" alt="piano uitleg" />