@using ToetsMeHarder.Business.LiedjesComponent;
@using ToetsMeHarder.Business.FallingBlocks;
@using ToetsMeHarder.PianoGUI.Components.Layout;
@using HtmlAgilityPack;

<div class="grid-container">
	@for (int i = 0; i < _blocks.GridDivs.Count; i++)
	{
    @((MarkupString)_blocks.GridDivs[i])
	}
</div>

@* <div class="testDiv">hello world</div> *@

@code{
	private FallingBlocks _blocks;

	protected override void OnInitialized()
	{
		_blocks = new FallingBlocks(400, new Song("test", 60));
	}
}
