<div class="bar-container">
    @for (int i = 0; i < _numberOfBars; i++)
    {
        <div class="vertical-bar">
            @foreach (var block in _blockMap[i])
            {
                <div class="falling-block"
                    style="animation-play-state: @(Metronome.IsRunning ? "running" : "paused");
                    --fall-duration: @_fallDuration;">
                </div>
            }
        </div>
    }
</div>