@if(fallingBlocksManager.SelectedSong != null)
{
    <div class="bar-container">
        @foreach (var key in fallingBlocksManager.Keys)
        {
            <div class="trigger-line"></div>
            <div class="@CreateCSSClass(key.ToString())">
                @foreach (var block in fallingBlocksManager.BlockMap[key])
                {
                    <div class="falling-block @(fallingBlocksManager.GetNoteClass(block.CurrentState))"
                    style="animation-play-state: @(Metronome.IsRunning ? "running" : "paused");
                    --fall-duration: @_fallDuration;">
                    </div>
                }
            </div>
        }
    </div>
}
else
{
    <div class="bar-container">
        <p class="no-song-text">Geen liedje geselecteerd, Liedjes->(Kies Liedje)</p>
    </div>
}
