@using ToetsMeHarder.Business
@using ToetsMeHarder.Business.FallingBlocks

<ul class="bar-container">
    @{
        @foreach ((KeyValue key, double frequency) in _noteFrequencies)
        {
            <li id="@key" class= "@CreateCSSClass(key.ToString())">
                @foreach(var block in _blockMap[x])
                {
                    <div class="falling-block"></div>
                    if(x < _blockMap.Count)
                    {
                        x++;
                    }
                }
            </li>
        }
    }
</ul>