@page "/piano"
@using ToetsMeHarder.Business

<ul class="set">
    <!-- A2 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(110.00, 1000));}' class="white a"><b>A2</b></li>
    <!-- A#2/Bb2 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(116.54, 1000));}' class="black as"><b>A#2</b></li>
    <!-- B2 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(123.47, 1000));}' class="white b"><b>B2</b></li>
    <!-- C3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(130.81, 1000));}' class="white c"><b>C3</b></li>
    <!-- C#3/Db3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(138.59, 1000));}' class="black cs"><b>D3</b></li>
    <!-- D3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(146.83, 1000));}' class="white d"><b>D3</b></li>
    <!-- D#3/Eb3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(155.56, 1000));}' class="black ds"><b>Eb3</b></li>
    <!-- E3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(164.81, 1000));}' class="white e"><b>E3</b></li>
    <!-- F3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(174.61, 1000));}' class="white f"><b>F3</b></li>
    <!-- F#3/Gb3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(185.00, 1000));}' class="black fs"><b>G3</b></li>
    <!-- G3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(196.00, 1000));}' class="white g"><b>G3</b></li>
    <!-- G#3/Ab3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(207.65, 1000));}' class="black gs"><b>Ab3</b></li>
    <!-- A3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(220.00, 1000));}' class="white a"><b>A3</b></li>
    <!-- A#3/Bb3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(233.08, 1000));}' class="black as"><b>Bb3</b></li>
    <!-- B3 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(246.94, 1000));}' class="white b"><b>B3</b></li>
    <!-- C4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(261.63, 1000));}' class="white c"><b>C4</b></li>
    <!-- C#4/Db4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(277.18, 1000));}' class="black cs"><b>Db4</b></li>
    <!-- D4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(293.66, 1000));}' class="white d"><b>D4</b></li>
    <!-- D#4/Eb4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(311.13, 1000));}' class="black ds"><b>Eb4</b></li>
    <!-- E4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(329.63, 1000));}' class="white e"><b>E4</b></li>
    <!-- F4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(349.23, 1000));}' class="white f"><b>F4</b></li>
    <!-- F#4/Gb4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(369.99, 1000));}' class="black fs"><b>Gb4</b></li>
    <!-- G4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(392.00, 1000));}' class="white g"><b>G4</b></li>
    <!-- G#4/Ab4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(415.30, 1000));}' class="black gs"><b>Ab4</b></li>
    <!-- A4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(440.00, 1000));}' class="white a"><b>A4</b></li>
    <!-- A#4/Bb4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(466.16, 1000));}' class="black as"><b>Bb4</b></li>
    <!-- B4 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(493.88, 1000));}' class="white b"><b>B4</b></li>
    <!-- C5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(523.25, 1000));}' class="white c"><b>C5</b></li>
    <!-- C#5/Db5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(554.37, 1000));}' class="black cs"><b>Db5</b></li>
    <!-- D5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(587.33, 1000));}' class="white d"><b>D5</b></li>
    <!-- D#5/Eb5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(622.25, 1000));}' class="black ds"><b>Eb5</b></li>
    <!-- E5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(659.26, 1000));}' class="white e"><b>E5</b></li>
    <!-- F5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(698.46, 1000));}' class="white f"><b>F5</b></li>
    <!-- F#5/Gb5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(739.99, 1000));}' class="black fs"><b>Gb5</b></li>
    <!-- G5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(783.99, 1000));}' class="white g"><b>G5</b></li>
    <!-- G#5/Ab5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(830.61, 1000));}' class="black gs"><b>Ab5</b></li>
    <!-- A5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(880.00, 1000));}' class="white a"><b>A5</b></li>
    <!-- A#5/Bb5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(932.33, 1000));}' class="black as"><b>Bb5</b></li>
    <!-- B5 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(987.77, 1000));}' class="white b"><b>B5</b></li>
    <!-- C6 -->
    <li @onclick='() => {_audioHandler.PlayAudio(new Note(1046.50, 1000));}' class="white c"><b>C6</b></li>
</ul>
