@page "/piano"
@using ToetsMeHarder.Business

<div class="menu">
    <button class="KeyModeButton" @onclick="ChangeKeyModus"><b>Keymode: <i>@_keyModus</i></b></button>
</div>
<ul class="set">
    <li id="a2" @onclick="() => PlayNote(110.00)" class="white a">
        <b>
            @if (_keyModus == "Note")
            {
                <text>A2</text>
            }
            else if (_keyModus == "Key")
            {
                <text>Q</text>
            }
        </b>
    </li>
    <li id="a#2" @onclick="() => PlayNote(116.54)" class="black as">
        <b>
            @if (_keyModus == "Note")
            {
                <text>A#2</text>
            }
            else if (_keyModus == "Key")
            {
                <text>2</text>
            }
        </b>
    </li>
    <li id="b2" @onclick="() => PlayNote(123.47)" class="white b">
        <b>
            @if (_keyModus == "Note")
            {
                <text>B2</text>
            }
            else if (_keyModus == "Key")
            {
                <text>W</text>
            }
        </b>
    </li>
    <li id="c3" @onclick="() => PlayNote(130.81)" class="white c">
        <b>
            @if (_keyModus == "Note")
            {
                <text>C3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>E</text>
            }
        </b>
    </li>
    <li id="c#3" @onclick="() => PlayNote(138.59)" class="black cs">
        <b>
            @if (_keyModus == "Note")
            {
                <text>C#3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>4</text>
            }
        </b>
    </li>
    <li id="d3" @onclick="() => PlayNote(146.83)" class="white d">
        <b>
            @if (_keyModus == "Note")
            {
                <text>D3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>R</text>
            }
        </b>
    </li>
    <li id="d#3" @onclick="() => PlayNote(155.56)" class="black ds">
        <b>
            @if (_keyModus == "Note")
            {
                <text>D#3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>5</text>
            }
        </b>
    </li>
    <li id="e3" @onclick="() => PlayNote(164.81)" class="white e">
        <b>
            @if (_keyModus == "Note")
            {
                <text>E3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>T</text>
            }
        </b>
    </li>
    <li id="f3" @onclick="() => PlayNote(174.61)" class="white f">
        <b>
            @if (_keyModus == "Note")
            {
                <text>F3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>Y</text>
            }
        </b>
    </li>
    <li id="f#3" @onclick="() => PlayNote(185.00)" class="black fs">
        <b>
            @if (_keyModus == "Note")
            {
                <text>F#3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>7</text>
            }
        </b>
    </li>
    <li id="g3" @onclick="() => PlayNote(196.00)" class="white g">
        <b>
            @if (_keyModus == "Note")
            {
                <text>G3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>U</text>
            }
        </b>
    </li>
    <li id="g#3" @onclick="() => PlayNote(207.65)" class="black gs">
        <b>
            @if (_keyModus == "Note")
            {
                <text>G#3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>8</text>
            }
        </b>
    </li>
    <li id="a3" @onclick="() => PlayNote(220.00)" class="white a">
        <b>
            @if (_keyModus == "Note")
            {
                <text>A3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>I</text>
            }
        </b>
    </li>
    <li id="a#3" @onclick="() => PlayNote(233.08)" class="black as">
        <b>
            @if (_keyModus == "Note")
            {
                <text>A#3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>9</text>
            }
        </b>
    </li>
    <li id="b3" @onclick="() => PlayNote(246.94)" class="white b">
        <b>
            @if (_keyModus == "Note")
            {
                <text>B3</text>
            }
            else if (_keyModus == "Key")
            {
                <text>O</text>
            }
        </b>
    </li>
    <li id="c4" @onclick="() => PlayNote(261.63)" class="white c">
        <b>
            @if (_keyModus == "Note")
            {
                <text>C4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>P</text>
            }
        </b>
    </li>
    <li id="c#4" @onclick="() => PlayNote(277.18)" class="black cs">
        <b>
            @if (_keyModus == "Note")
            {
                <text>C#4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>-</text>
            }
        </b>
    </li>
    <li id="d4" @onclick="() => PlayNote(293.66)" class="white d">
        <b>
            @if (_keyModus == "Note")
            {
                <text>D4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>[</text>
            }
        </b>
    </li>
    <li id="d#4" @onclick="() => PlayNote(311.13)" class="black ds">
        <b>
            @if (_keyModus == "Note")
            {
                <text>D#4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>=</text>
            }
        </b>
    </li>
    <li id="e4" @onclick="() => PlayNote(329.63)" class="white e">
        <b>
            @if (_keyModus == "Note")
            {
                <text>E4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>]</text>
            }
        </b>
    </li>
    <li id="f4" @onclick="() => PlayNote(349.23)" class="white f">
        <b>
            @if (_keyModus == "Note")
            {
                <text>F4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>\</text>
            }
        </b>
    </li>
    <li id="f#4" @onclick="() => PlayNote(369.99)" class="black fs">
        <b>
            @if (_keyModus == "Note")
            {
                <text>F#4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>A</text>
            }
        </b>
    </li>
    <li id="g4" @onclick="() => PlayNote(392.00)" class="white g">
        <b>
            @if (_keyModus == "Note")
            {
                <text>G4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>Z</text>
            }
        </b>
    </li>
    <li id="g#4" @onclick="() => PlayNote(415.30)" class="black gs">
        <b>
            @if (_keyModus == "Note")
            {
                <text>G#4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>S</text>
            }
        </b>
    </li>
    <li id="a4" @onclick="() => PlayNote(440.00)" class="white a">
        <b>
            @if (_keyModus == "Note")
            {
                <text>A4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>X</text>
            }
        </b>
    </li>
    <li id="a#4" @onclick="() => PlayNote(466.16)" class="black as">
        <b>
            @if (_keyModus == "Note")
            {
                <text>A#4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>D</text>
            }
        </b>
    </li>
    <li id="b4" @onclick="() => PlayNote(493.88)" class="white b">
        <b>
            @if (_keyModus == "Note")
            {
                <text>B4</text>
            }
            else if (_keyModus == "Key")
            {
                <text>C</text>
            }
        </b>
    </li>
    <li id="c5" @onclick="() => PlayNote(523.25)" class="white c">
        <b>
            @if (_keyModus == "Note")
            {
                <text>C5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>V</text>
            }
        </b>
    </li>
    <li id="c#5" @onclick="() => PlayNote(554.37)" class="black cs">
        <b>
            @if (_keyModus == "Note")
            {
                <text>C#5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>G</text>
            }
        </b>
    </li>
    <li id="d5" @onclick="() => PlayNote(587.33)" class="white d">
        <b>
            @if (_keyModus == "Note")
            {
                <text>D5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>B</text>
            }
        </b>
    </li>
    <li id="d#5" @onclick="() => PlayNote(622.25)" class="black ds">
        <b>
            @if (_keyModus == "Note")
            {
                <text>D#5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>H</text>
            }
        </b>
    </li>
    <li id="e5" @onclick="() => PlayNote(659.26)" class="white e">
        <b>
            @if (_keyModus == "Note")
            {
                <text>E5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>N</text>
            }
        </b>
    </li>
    <li id="f5" @onclick="() => PlayNote(698.46)" class="white f">
        <b>
            @if (_keyModus == "Note")
            {
                <text>F5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>M</text>
            }
        </b>
    </li>
    <li id="f#5" @onclick="() => PlayNote(739.99)" class="black fs">
        <b>
            @if (_keyModus == "Note")
            {
                <text>F#5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>K</text>
            }
        </b>
    </li>
    <li id="g5" @onclick="() => PlayNote(783.99)" class="white g">
        <b>
            @if (_keyModus == "Note")
            {
                <text>G5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>,</text>
            }
        </b>
    </li>
    <li id="g#5" @onclick="() => PlayNote(830.61)" class="black gs">
        <b>
            @if (_keyModus == "Note")
            {
                <text>G#5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>L</text>
            }
        </b>
    </li>
    <li id="a5" @onclick="() => PlayNote(880.00)" class="white a">
        <b>
            @if (_keyModus == "Note")
            {
                <text>A5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>.</text>
            }
        </b>
    </li>
    <li id="a#5" @onclick="() => PlayNote(932.33)" class="black as">
        <b>
            @if (_keyModus == "Note")
            {
                <text>A#5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>;</text>
            }
        </b>
    </li>
    <li id="b5" @onclick="() => PlayNote(987.77)" class="white b">
        <b>
            @if (_keyModus == "Note")
            {
                <text>B5</text>
            }
            else if (_keyModus == "Key")
            {
                <text>/</text>
            }
        </b>
    </li>
    <li id="c6" @onclick="() => PlayNote(1046.50)" class="white c">
        <b>
            @if (_keyModus == "Note")
            {
                <text>C6</text>
            }
            else if (_keyModus == "Key")
            {
                <text></text>
            }
        </b>
    </li>
</ul>


<!--Click Simulation-->
<script>
    window.setKeyActive = (id) => {
        const el = document.getElementById(id);
        if (el) {
            el.classList.add("manual-active");
            el.click(); // speel toon af
        }
    };

    window.setKeyInactive = (id) => {
        const el = document.getElementById(id);
        if (el) {
            el.classList.remove("manual-active");
        }
    };
</script>
