@page "/"
@using ToetsMeHarder.Components.Layout
@using ToetsMeHarder.Components.Pages



<div class="top">
	<button @onclick="ToonPopup">
		Toon pop-up
	</button>
</div>





<div class="middle">

</div>
<div class="bottem">
	<Piano/>
</div>

<Result PopupZichtbaar="@popupZichtbaar" SluitPopup="SluitPopup"></Result>

@code {
	private bool popupZichtbaar = false;

	private void ToonPopup()
	{
		popupZichtbaar = true;
	}
	private void SluitPopup()
	{
		popupZichtbaar = false;
	}
}

