@page "/"
@using ToetsMeHarder.Business.LiedjesComponent
@using ToetsMeHarder.PianoGUI.Components.Layout
@using ToetsMeHarder.PianoGUI.Components.Pages.HelpPages

<div class="top">
	<div class="left">
		<Metronome/>
	</div>
	<div class="center">
		 <h1> @(LiedjesManager.Instance.ChosenSong.Name)</h1>
	</div>
	<div class="right">
		<div class="menu">
			<button @onclick="() => {_songPopUp = !_songPopUp;}"><i>liedjes</i></button>
			<button @onclick="() => {_resultPopUp = !_resultPopUp;}"><i>Toon results</i></button>
			<button @onclick="() => {_helpPopUp = !_helpPopUp;}"><i>Help</i></button>
			<button @onclick="Exit"><i>Exit</i></button>
		</div>
	</div>
</div>
<div class="middle">

</div>
<div
	class="bottem"
	tabindex="0"              
	@ref="_wrapper"             
	@onkeydown="OnKeyDown" 
	@onkeyup="OnKeyUp"  
	@onfocusout="OnFocusOut">
	<Piano @ref="_piano" />    
</div>

@{
	if (_helpPopUp)
	{
		<div class="popup">
			<div>
				<h1>Help:</h1>
				<Help></Help>
				<button @onclick="() => {_helpPopUp = !_helpPopUp; OnAfterRenderAsync(true);}">Close</button> 
			</div>
		</div>
	}
	if (_resultPopUp){
		<div class="popup">
			<div>
				<h1>Results</h1>
				<Result></Result>
				<button @onclick="() => {_resultPopUp = !_resultPopUp; OnAfterRenderAsync(true);}">Close</button>
			</div>
		</div>
	}
	if (_songPopUp){
		<div class="popup">
			<div>
				<h1>Liedjes</h1>
				<LiedjesKeuzeMenu LiedjeGekozen="@OnLiedjeGekozen"></LiedjesKeuzeMenu>
				<button @onclick="() => {_songPopUp = !_songPopUp; OnAfterRenderAsync(true);}">Close</button>
			</div>
		</div>
	}
}