@page "/"
@using ToetsMeHarder.PianoGUI.Components.Layout
@using ToetsMeHarder.PianoGUI.Pages

<div class="top">
	<div class="left">
		<Metronome/>
	</div>
	<div class="center">
		<h1>Somewhere over the rainbow</h1>
		<h4>by GIJT</h4>
	</div>
	<div class="right">
		<div class="menu">
			<button><i>Songs</i></button>
			<button @onclick="() => {resultPopUp = !resultPopUp;}"><i>Toon results</i></button>
			<button><i>Options</i></button>
			<button @onclick="() => {helpPopUp = !helpPopUp;}"><i>Help</i></button>
			<button><i>Exit</i></button>
		</div>
	</div>
</div>
<div class="middle">

</div>
<div
class="bottem"
tabindex="0"              
@ref="_wrapper"             
@onkeydown="OnKeyDown" 
@onkeyup="OnKeyUp"  
@onfocusout="OnFocusOut">
	<Piano @ref="_piano" />    
</div>

@{
	if (helpPopUp)
	{
		<div class="popup">
			<div>
				<h1>Help:</h1>

			</div>
		</div>
	}
	if (resultPopUp){
		<Result PopupZichtbaar="@popupZichtbaar" SluitPopup="SluitPopup"></Result>
	}
}
