@page "/"
@using ToetsMeHarder.Business.LiedjesComponent
@using ToetsMeHarder.PianoGUI.Components.Layout

<div class="top">
    <button @onclick="ToonPopup">Toon Button</button>
    <Metronome/>
    <div>
        <h1> @(SongManager.Instance.GekozenLiedje.Naam)</h1>
    </div>
</div>
<MainMenu/>
<div class="bar-container">
    @for (int i = 0; i < _numberOfBars; i++)
    {
            <div class="vertical-bar">
            @foreach (var block in _blockMap[i])
            {
                        <div class="falling-block"></div>
            }
            </div>
    }
</div>
<div
class="bottem"
tabindex="0"              
@ref="_wrapper"             
@onkeydown="OnKeyDown" 
@onkeyup="OnKeyUp"  
@onfocusout="OnFocusOut"
>
    <Piano @ref="_piano" />    
</div>


<Result PopupZichtbaar="@popupZichtbaar" SluitPopup="SluitPopup"></Result>

@code {
    private bool popupZichtbaar = false;
    private Random _random = new();
    private Dictionary<int, List<int>> _blockMap = new();
    private int _numberOfBars = 24;

	private void ToonPopup()
	{
		popupZichtbaar = true;
	}
	private void SluitPopup()
	{
		popupZichtbaar = false;
	}



}