@page "/"
@using ToetsMeHarder.Business.SongsComponent
@using ToetsMeHarder.PianoGUI.Components.Layout
@using ToetsMeHarder.PianoGUI.Components.Pages.HelpPages

<div class="top">
	<div class="left">
		<Metronome/>
	</div>
	<div class="center">
		@if (SongsManager.Instance.ChosenSong == null)
		{
			<h1>Geen liedje geselecteerd</h1>
		}
		else
		{
			
			<h1> @(SongsManager.Instance.ChosenSong.Name)</h1>
		}
	</div>
	<div class="right">
		<div class="menu">
			<button @onclick="() => {_songPopUp = !_songPopUp;}"><i>Liedjes</i></button>
			<button @onclick="() => {_helpPopUp = !_helpPopUp;}"><i>Help</i></button>
			<button @onclick="Exit"><i>Afsluiten</i></button>
		</div>
	</div>
</div>
<div class="middle">
	<FallingBlocks/>
</div>
<div
	class="bottem"
	tabindex="0"              
	@ref="_wrapper"             
	@onkeydown="OnKeyDown" 
	@onkeyup="OnKeyUp"  
	@onfocusout="OnFocusOut">
	<Piano @ref="_piano" />    
</div>

@{
	if (_helpPopUp)
	{
		<div class="popup">
			<div>
				<h1>Help:</h1>
				<Help></Help>
				<button class="closeBtn" @onclick="() => {_helpPopUp = !_helpPopUp; OnAfterRenderAsync(true);}">Sluit</button> 
			</div>
		</div>
	}
	if (_resultPopUp){
		<div class="popup">
			<div>
				<h1>Results</h1>
				<Result></Result>
				<button class="closeBtn" @onclick="() => {_resultPopUp = !_resultPopUp; OnAfterRenderAsync(true);}">Sluit</button>
			</div>
		</div>
	}
	if (_songPopUp){
		<div class="popup">
			<div>
				<h1>Liedjes</h1>
				<SongChosen="@OnSongChanged" />
				<button class="closeBtn" @onclick="() => {_songPopUp = !_songPopUp; OnAfterRenderAsync(true);}">Sluit</button>
			</div>
		</div>
	}
}