@page "/"
@using ToetsMeHarder.PianoGUI.Components.Layout
@using ToetsMeHarder.PianoGUI.Pages

<div class="top">
 <Metronome/>
</div>
<div class="middle">

</div>
<div
  tabindex="0"              
  @ref="wrapper"             
  @onkeydown="OnKeyDown"   
>
  <Piano @ref="piano" />    
</div>

