@page "/"
@using ToetsMeHarder.PianoGUI.Components.Layout
@using ToetsMeHarder.PianoGUI.Pages

<div class="top">
	
	<button @onclick="ToonPopup">Toon Button</button>
	<Metronome/>

</div>
<div class="middle">

</div>
<div
	class="bottem"
  tabindex="0"              
  @ref="_wrapper"             
  @onkeydown="OnKeyDown" 
  @onkeyup="OnKeyUp"  
  @onfocusout="OnFocusOut"
>
  <Piano @ref="_piano" />    
</div>

	<Result PopupZichtbaar="@popupZichtbaar" SluitPopup="SluitPopup"></Result>

@code {
	private bool popupZichtbaar = false;

	private void ToonPopup()
	{
		popupZichtbaar = true;
	}
	private void SluitPopup()
	{
		popupZichtbaar = false;
	}
}