@page "/"
@using ToetsMeHarder.Business.LiedjesComponent
@using ToetsMeHarder.PianoGUI.Components.Layout

<div class="top">
    <Metronome/>
    <div>
        <h1> @(LiedjesManager.Instance.GekozenLiedje.Naam)</h1>
    </div>
    <MainMenu/>
</div>
<div class="middle">

</div>
<div
	class="bottem"
  tabindex="0"              
  @ref="_wrapper"             
  @onkeydown="OnKeyDown" 
  @onkeyup="OnKeyUp"  
  @onfocusout="OnFocusOut"
>
    <Piano @ref="_piano" />    
</div>



