@page "/LiedjesKeuzeMenu"
@using PianoGUI.Components.Pages

@inherits LiedjesKeuzeMenu_razor

        <button @onclick="Close" class="exitButton">X</button>
        <div id="Menu">
    <button class="MenuButtons" @onclick="SetSong">Test Lied</button>
        </div>
