@using ToetsMeHarder.Business
@using ToetsMeHarder.Business.LiedjesComponent

@if (!IsOpen)
{
    <button @onclick="Open" class="MenuButtons">Liedje Kiezen</button>
}
@if (IsOpen)
{
    <div class="Overlay">
        <button @onclick="Close" class="exitButton">X</button>
        <div id="Menu">
            <h3>Liedje Kiezen</h3>
            <button class="MenuButtons" @onclick="SetLiedje">Test Lied</button>
        </div>
    </div>
}

@code {

    private LiedjesManager _liedjesManager = LiedjesManager.Instance;
    Liedje lied = new Liedje("TEST",120);
    
    [Parameter] public EventCallback OnOpen { get; set;}
    [Parameter] public EventCallback OnClose { get; set;}
    [Parameter] public bool IsOpen { get; set; } = false;

    private void SetLiedje()
    {
        _liedjesManager.GekozenLiedje = lied;
    }
    
    public async void Open()
    {
        await OnOpen.InvokeAsync();
        IsOpen = true;
        StateHasChanged();
    }

    private async void Close()
    {
        await OnClose.InvokeAsync();
        IsOpen = false;
    }

}