@page "/LiedjesKeuzeMenu"
@inherits LiedjesKeuzeMenu_razor

        <button @onclick="Close" class="exitButton">X</button>
        <div id="Menu">
            <button class="MenuButtons" @onclick="SetLiedje">Test Lied</button>
        </div>
    

