@page "/MainMenu"
@inherits MainMenu_razor

<button @onclick="Open" class="MenuButtons">Menu</button>

@if (IsMenuVisible)
{
    <div class="Overlay">
        <button @onclick="Close" class="exitButton">X</button>
        <div class="Menu">
            <h3>MainMenu</h3>
            <LiedjesKeuzeMenu OnOpen="Liedjemenu"/>
        </div>
    </div>
}

@if (LiedjeMenuOpen)
{
    <LiedjesKeuzeMenu OnClose="Liedjemenu" IsOpen="true"/>
}

@code {
    
}