.metronome-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    color: darkgray;
    font-size: 32px;
}

.bpm-controls {
    display: flex;
    justify-content: center;
    height: 30%;
    width: 50%;
}

.bpm-controls input {
    border-radius: 20px 0px 0px 20px;
    width: 30%;
    text-align: center;
    border: none;
}
.bpm-controls .arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.bpm-controls .arrows button{
    background-color: darkgray;
    color: white;
    height: 50%;
    border: none;
}

.toggle-button {
    font-size: 1rem;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 0px 20px 20px 0px;
    width: 30%;
}
