@using ToetsMeHarder.PianoGUI.Components.Layout

<h3>Resultaat lied: (placeholder)</h3>
<p>bpm: (placeholder)</p>
<p>score: (placeholder)</p>
<p>score: (placeholder)</p>

<button @onclick="() => FallingBlocks.instance.Retry()">Opnieuw</button>





